#!/bin/sh /etc/rc.common
# Copyright (C) 2008-2014 OpenWrt.org
{{ ansible_managed | comment }}

START=90
STOP=90

USE_PROCD=1
PROG={{ _node_exporter_binary_install_dir }}/node_exporter
NAME=node_exporter

OPTIONS="{% for collector in node_exporter_enabled_collectors -%}
{%   if not collector is mapping %}
{% if not 'systemd' in collector %}
    --collector.{{ collector }} \
{% endif -%}
{%   else -%}
{%     set name, options = (collector.items()|list)[0] -%}
    --collector.{{ name }} \
{%     for k,v in options|dictsort %}
    --collector.{{ name }}.{{ k }}={{ v | quote }} \
{%     endfor -%}
{%   endif -%}
{% endfor -%}
{% for collector in node_exporter_disabled_collectors %}
    --no-collector.{{ collector }} \
{% endfor %}
{% if node_exporter_tls_server_config | length > 0 or node_exporter_http_server_config | length > 0 or node_exporter_basic_auth_users | length > 0 %}
    --web.config=/etc/node_exporter/config.yaml \
{% endif %}
    --web.listen-address={{ node_exporter_web_listen_address }}"

start_service () {
        [ "$2" = 0 ] || {
                echo "validation failed"
                return 1
        }

        [ "$enable" = "0" ] && return 1

        procd_open_instance
        procd_set_param command "$PROG"
        procd_append_param command "$OPTIONS"
        procd_close_instance
}
